affine==2.3.0
Cartopy==0.18.0
conda==4.9.2
ecmwf-api-client==1.6.1
ffmpeg==1.4 
Fiona==1.8.18
GDAL==3.1.4
geojson==2.5.0
gmaps==0.9.0
h5py==3.1.0
ipyleaflet==0.13.4
ipywidgets==7.6.2
jupyter-core==4.7.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
matplotlib==3.3.3
netcdf4==1.5.5.1
numpy==1.19.4
pandas==1.2.0
rasterio==1.1.8
requests==2.25.1
shapely==1.7.1
scikit-image==0.18.1
urllib3==1.26.2
xarray==0.16.2